#settings{
    font-family:"Orbitron";
    text-align:center
}

.slider-form, #testSound{
    margin-bottom:5px;
}

#return{
    text-align:center;
}

#testSound:hover{
    cursor:pointer;
}

#song-details{
    font-family: Architects Daughter;
    position: absolute;
    transform: translateY(175px);
    width: 500px;
    padding:10px;
    border:solid;
    border-radius: 15px;
    border-color: var(--Color);
    box-shadow: 0px 0px 5px white;
}

.slider-form{
    color: var(--Color);
}